@import './common.styl'
.input
    // background-color: red
    position relative
    input
        width: 98%
        border-radius: 30px
        border: none
        text-indent: 40px
        outline: none
        font-size: 10px
        line-height: 20px
        background-color: #eeeeee
        height 30px
        color: $fontColorLight
    span 
        position: absolute
        left 8px