// 黑色字体
$fontColorBlack = black
//深色字体
$fontColorDark = #333
// 灰色字体
$fontColorGray = #666
// 浅灰色字体
$fontColorLight = #aaa
//巨大字体
$fontSizeHuge = 18px
//大字体
$fontSizeBig = 12px
//小字体
$fontSizeSmall = 10px